# OpenAI API Settings
OPENAI_API_KEY="your_openai_api_key_here"
OPENAI_BASE_URL="https://api.openai.com/v1"
OPENAI_MODEL="gpt-3.5-turbo"
OPENAI_MODEL_CHEAT_CHECK="qwen3-235b-a22b"

# JWT Settings
SECRET_KEY="a_very_secret_key_that_should_be_changed"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=600

# --- Server Settings ---
HOST="127.0.0.1"
PORT=8000
UVICORN_RELOAD=true
